{% extends 'base.html' %}

{% block title %}Event History{% endblock %}

{% block header %}
<div class="container-xxl bg-dark mt-5 py-3">
    <div class="bg-light5 card border-3 p-2">
        <div class="card bg-light5 border-0">
            <h1 class="text-center my-3">Your event creation history</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if counter == 0 %}
<div class="container-xxl bg-dark py-3">
    <div class="bg-light5 card border-3 p-2">
        <div class="card bg-light5 border-0">
            <h1 class="text-center my-3">You currently have no created events</h1>
        </div>
    </div>
</div>
{% else %}
<div class="container-xxl bg-dark">
    <div class="row bg-dark">

        {% for event in events %}
        <div class="col-12 col-sm-6 col-md-4 col-xxl-3 mb-3 mt-3">
            <div class="card bg-light2 border-3" style="width: 100%; height: 100%;">
                <img src="{{event.image}}" class="card-img-top" alt="Event Location Image">
                <div class="card-body">
                    <h4 class="card-title">{{event.name}}</h4>
                    <h4 class="card-title">${{event.cost}} AUD</h4>
                    <h5 class="card-text">
                        {{event.startDate.day}}/{{event.startDate.month}}/{{event.startDate.year}} at
                        {{event.startDate.hour}}:{{event.startDate.minute}}
                    </h5>
                    <h5 class="card-text">{{event.duration}} Minutes</h5>
                    {% if event.max_tickets == 1 %}
                    <h5 class="card-text">{{event.max_tickets}} ticket remains!</h5>
                    {% else %}
                    <h5 class="card-text">{{event.max_tickets}} tickets remain.</h5>
                    {% endif %}
                    <p class="card-text justify1">{{event.description}}</p>

                    <p class="card-text">Located at: {{event.location}}</p>
                    <div class="d-flex">
                        <a href="{{url_for('event.show', id=event.id)}}" class="btn bg-light3">View Event</a>
                        <a href="{{ url_for('event.update', id=event.id)}}" class="btn bg-light3">Update Event</a>
                        <a href="" class="btn bg-light3 ms-3 disabled">{{event.status}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}