<!-- Top -->
{% extends 'base.html' %}
<!-- Title -->
{% block title %}Backyard Cinemas - Home Page{% endblock %}

{% block messages %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            {% with flash_messages = get_flashed_messages() %}
            {% if flash_messages %}
            {% for message in flash_messages %}
            <div class="alert alert-success">
                <h3>{{ message }}</h3>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>
    </div>
</div>
{% endblock %}

<!-- Header -->
{% block header %}
<div class="p-2 cssbackground-image d-none d-md-block">
    <div class="container-fluid py-2">
        <br><br><br>
        <h1 class="display-4 fw-bold text-light text-center">Book your next movie here!</h1><br>
        <p class="display-6 text-light text-center">Search by genre, price or location! <br>Find the best deal
            for you.</p>
        <br><br>
        <!-- <button class="btn btn-warning btn-lg" type="button">Learn More</button> -->
    </div>
</div>
{% endblock %}

<!-- Content -->
{% block content %}

<div class="container-xxl bg-dark">
    <div class="row bg-dark">
        {% for event in events %}
        <div class="col-12 col-sm-6 col-md-4 col-xxl-3 mb-3 mt-3">
            <div class="card bg-light2 border-3" style="width: 100%; height: 100%;">
                <img src="{{event.image}}" class="card-img-top" alt="Event Location Image">
                <div class="card-body">
                    <h4 class="card-title">{{event.name}}</h4>
                    <h4 class="card-title">${{event.cost}} AUD</h4>
                    <h5 class="card-text">{{event.startDate.day}}/{{event.startDate.month}}/{{event.startDate.year}} at
                        {{event.startDate.hour}}:{{event.startDate.minute}}
                    </h5>
                    <h5 class="card-text">{{event.duration}} Minutes</h5>
                    {% if event.max_tickets == 1 %}
                    <h5 class="card-text">{{event.max_tickets}} ticket remains!</h5>
                    {% else %}
                    <h5 class="card-text">{{event.max_tickets}} tickets remain.</h5>
                    {% endif %}
                    <p class="card-text justify1">{{event.description}}</p>

                    <p class="card-text">Located at: {{event.location}}</p>
                    <div class="d-flex">
                        <a href="{{url_for('event.show', id=event.id)}}" class="btn bg-light3">View Event</a>
                        <a href="" class="btn bg-light3 ms-3 disabled">{{event.status}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}