{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ title }}{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

{% with flash_messages = get_flashed_messages() %}
{% if flash_messages %}
    {% for message in flash_messages %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container-xxl bg-dark py-3 mt-5">
    <div class="bg-light5 card border-3 p-2">
        <form>
            <div class="col-12 my-3">
                <div class="card bg-light2 border-0">
                    <div class="card bg-light2 border-0">
                        <h1 class="text-center my-3">Login to your account</h1>
                    </div>
                    <form method="post">
                        <div class="col-12 my-3">
                            <div class="card bg-light2 border-0">
                                {{ wtf.quick_form(form) }}
                            </div>
                        </div>
                    </form>
            </div>
        </form>
    </div>
</div>

{% endblock %}