{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ title }}{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
{% with flash_messages = get_flashed_messages() %}
{% if flash_messages %}
{% for message in flash_messages %}
<div class="alert alert-success">
    <h3>{{ message }}</h3>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container-xxl bg-dark my-5 py-3">
    <div class="bg-light5 card border-3 p-2">
        <div class="card bg-light5 border-0">
            <h1 class="text-center my-3">Sign Up to Backyard Cinemas!</h1>
        </div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="col-12 my-3">
                <div class="card bg-light2 border-0">
                    <div class="card-body">
                        <h5>{{ form.first_name.label }}</h5>
                        {{ form.first_name(class_="form-control bg-light5") }}
                    </div>
                    <div class="card-body">
                        <h5>{{ form.last_name.label }}</h5>
                        {{ form.last_name(class_="form-control bg-light5") }}
                    </div>
                    <div class="card-body">
                        <h5>{{ form.email_address.label }}</h5>
                        {{ form.email_address(class_="form-control bg-light5",
                        placeholder="This is how you'll be identified") }}
                        <div class="error-text">{% for error in form.email_address.errors %} {{ error }}
                            {% endfor%}</div>
                    </div>
                    <div class="card-body">
                        <h5>{{ form.contact_number.label }}</h5>
                        {{ form.contact_number(class_="form-control bg-light5",
                        placeholder="This is how you'll be contacted by SMS") }}
                        <div class="error-text">{% for error in form.contact_number.errors %} {{ error }}
                            {% endfor%}</div>
                    </div>
                    <div class="card-body">
                        <h5>{{ form.address.label }}</h5>
                        {{ form.address(class_="form-control bg-light5")
                        }}
                    </div>
                    <div class="card-body">
                        <h5>{{ form.password1.label }}</h5>
                        {{ form.password1(class_="form-control bg-light5") }}
                    </div>
                    <div id="password-info">
                        <ul class="my-2">
                            <li>
                                <p>Make sure your password is at least 8 characters long</p>
                            </li>
                            <li>
                                <p>Include at least one symbol in your password</p>
                            </li>
                            <li>
                                <p>Include a selection of numbers</p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5>{{ form.password2.label }}</h5>
                        {{ form.password2(class_="form-control bg-light5", placeholder='Re Enter the password above') }}
                        <div class="error-text">{% for error in form.password2.errors %} {{ error }}
                            {% endfor%}</div>
                    </div>
                    <div class="card-body row justify-content-center mx-0">
                        {{ form.submit(class_="btn bg-light6 col-md-8 col-lg-6 col-xxl-4", style="font-size: 20px;") }}
                    </div>
                </div>
            </div>
        </form>
        <div class="bg-light2 border-0 m-0 row justify-content-center">
            <div class="col-12">
                <h5 class="text-center my-3" style="list-style: none;">Already have an account?</h5>
            </div>
            <div class="col-6 m-3 mt-0 col-md-4">
                <a class="nav-link btn bg-light6" style="font-size: 20px; list-style: none;"
                    href="{{ url_for('auth.login_view') }}">Login!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}