{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ title }}{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
{% with flash_messages = get_flashed_messages() %}
{% if flash_messages %}
    {% for message in flash_messages %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="container-xxl bg-dark my-5 py-3">
    <div class="bg-light5 card border-3 p-2">
        <div class="card bg-light5 border-0">
            <h1 class="text-center my-3">Sign Up to backyardCinemas!</h1>
        </div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="col-12 my-3">
                <div class="card bg-light2 border-0">
                    <div class="card-body">
                        <h5>{{ form.first_name.label }}</h5>
                        {{ form.first_name(class_="form-control bg-light5") }}
                    </div>
                    <div class="card-body">
                        <h5>{{ form.last_name.label }}</h5>
                        {{ form.last_name(class_="form-control bg-light5") }}
                    </div>
                    <div class="card-body">
                        <h5>{{ form.email_address.label }}</h5>
                        {{ form.email_address(class_="form-control bg-light5") }}
                    </div>
                    <div class="card-body">
                        <h5>{{ form.password1.label }}</h5>
                        {{ form.password1(class_="form-control bg-light5") }}
                    </div>
                    <div class="card-body">
                        <h5>{{ form.password2.label }}</h5>
                        {{ form.password2(class_="form-control bg-light5") }}
                    </div>
                    <div class="container-fluid d-flex">
                        {{ form.submit(class_="btn bg-light6 w-100", style="font-size: 20px;") }}
                    </div>
                </div>
            </div>
        </form>
        <div class="card bg-light5 border-0">
            <h5 class="text-center">Already have an account?</h5>
            <a class="btn nav-link bg-light6" style="font-size: 20px;" href="{{ url_for('auth.login_view') }}">Login!</a>
        </div>
    </div>
</div>
{% endblock %}