{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ title }}{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

{% with flash_messages = get_flashed_messages() %}
{% if flash_messages %}
    {% for message in flash_messages %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container-xxl bg-dark py-3 mt-5">
    <div class="bg-light5 card border-3 p-2">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{% endblock %}